@-moz-document domain("twitter.com") {
  .Footer {
    opacity: 0.5;
  }

  .Footer-adsModule {
    display: none !important;
  }

  /* "Find people you follow" module */
  .flex-module.import-prompt {
    display: none !important;
  }

  /* "Who to follow" module */
  .wtf-module,
  .WhoToFollow {
    display: none !important;
  }
}
